<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

    <!--<jee:jndi-lookup id="felix.jndi.directory" jndi-name="/plugin.directory" resource-ref="true"/>-->

    <!--<jee:jndi-lookup id="felix.jndi.cache.directory" jndi-name="/plugin.cache.directory" resource-ref="true"/>-->

    <bean name="felixContainer" class="net.ebondark.moria.felix.FelixContainer" init-method="startFelixContainer"
          destroy-method="stopFelixContainer">
        <property name="repositoriesManager" ref="repositoriesManager"/>
        <!--<property name="directory" ref="felix.jndi.directory"/>-->
        <!--<property name="cacheDirectory" ref="felix.jndi.cache.directory"/>-->
    </bean>

    <bean name="felixSpringBean" class="net.ebondark.moria.felix.FelixSpringBean">
        <property name="felixContainer" ref="felixContainer"/>
    </bean>

    <import resource="classpath:applicationContext-repositories.xml"/>

    <!--domainRepositoriesManager-->

</beans>
